{% extends "default" %}
{% block content_wrapper %}
<div class="blog-content">
  <div class="row">
    <article class="blog-post col-xs-12 col-md-9 push-md-3 col-xl-10 push-xl-2">

      <header class="post-header">
        <h1>{{ page.title|e('html') }}
        {% if page.subtitle %}<br /><span class="text-muted">{{ page.subtitle|e('html') }}</span>{% endif %}</h1>
        {% if page.summary %}
        <p>
          {{ page.summary }}
        </p>
        {% endif %}
      </header>

      <div>
      {{ page.blocks.content|raw }}
      </div>

      <footer class="post-meta">
        {% include "post_meta" with {post:page} %}
      </footer>
    </article>
  </div>
  {% if page.previous_post or page.next_post %}
  <nav class="article">
    {% if page.next_post %}
      <a class="btn btn-secondary" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title|e('html_attr') }}">
        Next: {{ page.next_post.title|e('html') }}
      </a>
    {% endif %}
    {% if page.previous_post %}
      <a class="btn btn-secondary pull-right" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title|e('html_attr')}}">
        Previous: {{ page.previous_post.title|e('html') }}
      </a>
    {% endif %}
  </nav>
  {% endif %}
</div>
{% endblock %}

