$gray-darker:               #272B30 !default; // missing
$gray-dark:                 #3A3F44 !default;
$gray:                      #52575C !default;
$gray-light:                #7A8288 !default;
$gray-lighter:              #999 !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             $gray-light !default;
$brand-success:             #62c462 !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f89406 !default;
$brand-danger:              #ee5f5b !default;

$enable-flex:               true !default;

$body-bg:                    $gray-darker !default;
$body-color:                 #c8c8c8 !default;

$link-color:                 #2980b9 !default;

$font-family-sans-serif:     "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$border-radius:          0 !default;
$border-radius-lg:       0 !default;
$border-radius-sm:       0 !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $gray-dark !default;
$btn-secondary-border:           $btn-secondary-bg !default;

$card-bg:                  darken($body-bg, 3%) !default;
