//dev override
//@import "twbvariables";

@import "variables";
@import "bootstrap/scss/bootstrap";

@import "fontawesome";

@import "highlightjs/styles/github";

@import "tag_cloud";

.blog-header {
  padding-top: map-get(map-get($spacers, 2), y);
  padding-bottom: map-get(map-get($spacers, 2), y);
  margin-bottom: $spacer-y;
}

.blog-title {
  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
  font-size: 1.75rem;
  font-weight: normal;
  a, a:hover {
      color: inherit;
      text-decoration: inherit;
  }
}

.blog-content {
    margin-bottom: $spacer-y;
    > nav {
        @include clearfix;
    }
}

.overview {
    @extend .m-b-md;
}

.blog-post {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-y;

    .btn-back {
        @include pull-left();
        margin-top: 2rem;
        margin-left: -13rem;
    }

    .post-header {
        margin-bottom: $spacer-y;
        border-bottom: 1px solid $brand-primary;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5, h6 {
        font-size: 1rem;
    }

    .side-note {
        font-size: 0.9rem;
        @include clearfix;
        padding: 0 0.5rem 0;
        background-color: darken($body-bg, 3%);
    }
    .side-note:before {
       font-family: FontAwesome;
       content: $fa-var-pencil-square-o;
       display: inline-block;
       float: left;
       padding-right: 3px;
       vertical-align: middle;
    }

    @include media-breakpoint-up(md) {
        .side-note {
            @include pull-left();
            margin-left: -13rem;
            width: 12.3rem;
        }
    }
    
    .post-meta {
        order: -1;
        .meta-item {
            float: left;
            margin-right: $spacer-x;
        }
        @clearfix;
    }
}

.posts {
    margin-bottom: map-get(map-get($spacers, 2), y);
    .blog-post {
        margin-bottom: map-get(map-get($spacers, 3), y);
        .side-note {
            display: none;
        }
    }
}

.sidebar .card {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4, h5, h6 {
        font-size: 1rem;
    }
}

