//dev override
//@import "twbvariables";

@import "variables";
@import "bootstrap/scss/bootstrap";

@import "fontawesome";

@import "highlightjs/styles/github";

.matthewsetter {
    background-color: #b4d8d5;
    color: #315261;
    font-family: "Source Sans Pro";
}

.overview {
    @extend .m-b-md;
}

.blogpost {
    padding-left: 7rem;

    .btn-back {
        @include pull-left();
        margin-top: 2rem;
        margin-left: -7rem;
    }

    >h1 {
        @extend .m-b-md;
    }
}
