---
layout: default
title: Xerkus' blog - Who let him out?!
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
---
<section class="blog-content">
  <div class="posts">
{% for post in page.pagination.items %}
<article class="blog-post overview">
  <header class="post-header">
    <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    {% if page.subtitle %}<br /><span class="text-muted">{{ page.subtitle }}</span>{% endif %}</h1>
  </header>
  {% if post.summary %}
  <p>
    {{ post.summary }}
  </p>
  {% endif %}
  <footer class="post-meta">
    {% include "post_meta" with {post:post} %}
  </footer>
</article>
{% endfor %}
  </div>

{% if page.pagination.previous_page or page.pagination.next_page %}
<div>
  {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
  {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
</div>
{% endif %}
</section>
