---
layout: default
title: Xerkus' blog - Who let him out?!
use:
    - posts
---
<section class="blog-content row">
  <div class="posts col-xs-12 col-md-9">
  <h2>Latest posts</h2>
{% for post in data.posts|slice(0,2) %}
<article class="blog-post">
  <header class="post-header">
    <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    {% if page.subtitle %}<br /><span class="text-muted">{{ page.subtitle }}</span>{% endif %}</h1>
  </header>
  <div>
    {{ post.blocks.content|raw }}
  </div>
  <footer class="post-meta">
    {% include "post_meta" with {post:post} %}
  </footer>
</article>
{% endfor %}
  </div>

<div class="col-xs-12 col-md-3">
  <a href="{{ site.url }}/blog">All Posts</a>
</div>
</section>
